.structureRole {
  color: var(--Primary-700, #10537f);
  text-align: center;

  /* Text xs/Medium */
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem; /* 150% */
  display: flex;
  padding: 0.125rem 0.5rem;
  align-items: center;
  border-radius: 1rem;
  background: var(--Primary-25, #edf6fd);
  mix-blend-mode: multiply;
  margin-left: 0.5rem;
}

.structureDetails {
  display: flex;
  padding-top: 1rem;
}

.structureDetails p {
  color: var(--Gray-900, #101828);

  /* Text s/Medium */
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}
